.post-detail-container {
  max-width: 700px;
  margin: 40px auto;
  padding: 0 16px;
  font-family: Roboto, Arial, sans-serif;
}

.post-card {
  background: var(--mat-sys-surface);
}

mat-card-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 4px;
}

mat-card-subtitle {
  font-size: 14px;
  color: var(--mat-sys-on-surface-variant);
}

mat-card-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-top: 16px;
}

.loading, .error {
  text-align: center;
  margin-top: 40px;
}

mat-card-actions {
  display: flex;
  justify-content: flex-start;
  padding: 8px 16px;
}

.mat-mdc-card-avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-bottom: 0px;
}


.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  //padding: 8px 16px;
}

mat-chip {
  font-weight: 500;
}

.close-post-btn {
  margin-top: 8px;
  padding: 8px 20px;
  font-weight: 600;
  border-radius: 8px;
  letter-spacing: 0.3px;
  background-color: #ffcece;
  color: #d50000;
}