<mat-toolbar color="primary" class="navbar">
    <img routerLink="/" src="logo.png" alt="Logo" class="logo">
  <span class="spacer"></span>

    <!-- Dynamic Links -->
    <ng-container>
        @for(link of links(); track link){
            <button mat-button [routerLink]="link.routerLink">
            <mat-icon>{{ link.icon }}</mat-icon>
            {{ link.label }}
            </button>
        }
    </ng-container>

    <!-- Logged-in section -->
    @if(authService._isLoggedIn()){
        <ng-container>
                    <button mat-button (click)="authService.logout()">
                        <mat-icon>logout</mat-icon>
                        Logout
                    </button>
        </ng-container>
    }
</mat-toolbar>
