<div class="posts-layout">
  <h2>My Posts</h2>

  @if (isLoading) {
  <div class="loading">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
  </div>
  } @if (errorMessage) {
  <div class="error">{{ errorMessage }}</div>
  } @if (!isLoading && !errorMessage && posts.length === 0) {
  <div class="empty">No posts found.</div>
  } @if (!isLoading && !errorMessage && posts.length > 0) {
  <!-- Posts -->
  @if(!isLoading && !errorMessage && posts.length > 0){
  <div class="posts-list">
    @for(post of posts; track post.id){
    <div class="post-item" [routerLink]="['/posts', post.id]">
      <!-- Avatar -->
      <img class="post-avatar" [src]="post.authorAvatarUrl" alt="avatar" />

      <!-- Text content -->
      <div class="post-text">
        <div class="post-title">{{ post.title }}</div>
        <div class="post-content-wrapper">
          <div class="post-content">
            {{ post.description }}
          </div>
          <div class="read-more">Click to read more</div>
        </div>

        <div class="post-info">
          <span class="post-status" [ngClass]="post.status.toLowerCase()">{{ post.status }}</span>
          <span class="post-type">{{ post.type }}</span>
          <span class="post-tags">
            @for(tag of post.tags; track tag.id){
            <span class="tag">{{ tag.name }}</span>
            }
          </span>
        </div>

        <div class="post-meta">
          <span>
            By
            <a
              (click)="$event.stopPropagation()"
              [routerLink]="['/user', post.authorId]"
              class="author-link"
            >
              {{ post.authorDisplayName }}
            </a>
          </span>
          •
          <span>{{ post.createdAt | date : 'mediumDate' }}</span>
        </div>
      </div>
    </div>
    }
  </div>
  }
  <mat-paginator
    [length]="totalCount"
    [pageSize]="pageSize"
    (page)="onPageChange($event)"
  ></mat-paginator>
  }
</div>
